body
{
    background-color:#e0cffa;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.table
{
    margin-top:7%;
    margin-left: 36%;
    margin-right: 36%;
    padding:12%;
    padding-top:2%;
    padding-bottom:5%;
    border: solid 3px #f0d4ff;
    background: linear-gradient(to left,#f0d4ff,#ffffff,#f0d4ff);
    box-shadow: 8px 8px 15px 8px #6d38a6;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    font-family: "sansation",sans-serif;
    color:#411b7d
}

#title_style
{
    display:flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bolder;
}

#details
{
    display:flex;
    justify-content: end;
    font-size: 27px;
    font-weight: bolder;
}

input[type=text] {
    float:inline-start;
    margin-top: -3px;
    background-color: #411b7d;
    color:#ffffff;
    font-weight: bold;
    font-size:12px;
    box-sizing: border-box;
    border: 1px solid #cfa7fa;
    border-radius: 20px;
    padding:9px;
}

input[type=email] {
    float:inline-start;
    margin-top: -4px;
    background-color: #411b7d;
    color:#ffffff;
    font-weight: bold;
    font-size:12px;
    box-sizing: border-box;
    border: 1px solid #cfa7fa;
    border-radius: 20px;
    padding:9px;
}

input[type=password] {
    float:inline-start;
    margin-top: -3px;
    background-color: #411b7d;
    color:#ffffff;
    font-weight: bold;
    font-size:12px;
    border-radius: 20%;
    box-sizing: border-box;
    border: 1px solid #cfa7fa;
    border-radius: 20px;
    padding:9px;
}

::placeholder { 
    font-weight: normal;
    color: #f0d4ff;
}

input[type=text]:focus 
{
    color:#350075;
    background: linear-gradient(to bottom,#b587ff 55%,#f1e8ff);
    border: 1px solid #cfa7fa;  
}

input[type=password]:focus
{
    color:#350075;
    background: linear-gradient(to bottom,#b587ff 55%,#f1e8ff);
    border: 1px solid #cfa7fa;
}

input[type=email]:focus
{
    color:#350075;
    background: linear-gradient(to bottom,#b587ff 55%,#f1e8ff);
    border: 1px solid #cfa7fa;
}

input[type=submit]
{
    margin-top:10px;
    padding:10px;
    border-radius: 100px;
    font-family: "sansation",sans-serif;
    font-size:20px;
    font-weight: bold;
    color: #f1e8ff;
    background: linear-gradient(to bottom,#350075,#b587ff);
    border: 1px solid #cfa7fa;
    box-shadow: 3px 3px 6px #b587ff;
}

input[type=reset]
{
    margin-top:5px;
    padding:10px;
    border-radius: 100px;
    font-family: "sansation",sans-serif;
    font-size:20px;
    font-weight: bold;
    color: #f1e8ff;
    background: linear-gradient(to bottom,#350075,#b587ff);
    border: 1px solid #cfa7fa;
    box-shadow: 3px 3px 6px #b587ff;
}

input[type=submit]:hover
{
    color:#350075;
    background: linear-gradient(to bottom,#b587ff,#f1e8ff);
    border: 1px solid #cfa7fa;
    box-shadow: 4px 4px 6px #350075;
}

input[type=reset]:hover
{
    color:#350075;
    background: linear-gradient(to bottom,#b587ff,#f1e8ff);
    border: 1px solid #cfa7fa;
    box-shadow: 4px 4px 6px #350075;
}

.error
{
    padding-top:30px;
    margin-bottom:-30px;
    font-weight:bolder;
}

#login
{
    margin-top:60px;
    margin-bottom:-60px;
    font-weight: bolder;
}

